# DATA PREPROCESSING

In [1]:
#imports
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Load and Read the dataset
path = '/content/drive/My Drive/tripadvisor_european_restaurants.csv'

european_restaurants = pd.read_csv(path)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
european_restaurants.head()

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
0,g10001637-d10002227,Le 147,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"10 Maison Neuve, 87510 Saint-Jouvent France",45.961674,1.169131,...,2.0,0.0,0.0,0.0,0.0,4.0,4.5,4.0,NaN,NaN
1,g10001637-d14975787,Le Saint Jouvent,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",45.957040,1.205480,...,2.0,2.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,g10002858-d4586832,Au Bout du Pont,"[""Europe"", ""France"", ""Centre-Val de Loire"", ""B...",France,Centre-Val de Loire,Berry,Rivarennes,"2 rue des Dames, 36800 Rivarennes France",46.635895,1.386133,...,3.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,g10002986-d3510044,Le Relais de Naiade,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Co...",France,Nouvelle-Aquitaine,Correze,Lacelle,"9 avenue Porte de la Correze 19170, 19170 Lace...",45.642610,1.824460,...,1.0,0.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN
4,g10022428-d9767191,Relais Du MontSeigne,"[""Europe"", ""France"", ""Occitanie"", ""Aveyron"", ""...",France,Occitanie,Aveyron,Saint-Laurent-de-Levezou,"route du Montseigne, 12620 Saint-Laurent-de-Le...",44.208860,2.960470,...,4.0,7.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN

In [5]:
#check data shape
european_restaurants.shape

(1083397, 42)

In [6]:
#check data informations
european_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1083397 entries, 0 to 1083396
Data columns (total 42 columns):
 #   Column                             Non-Null Count    Dtype
---  ------                             --------------    -----
 0   restaurant_link                    1083397 non-null  object
 1   restaurant_name                    1083397 non-null  object
 2   original_location                  1083397 non-null  object
 3   country                            1083397 non-null  object
 4   region                             1033074 non-null  object
 5   province                           742765 non-null   object
 6   city                               682712 non-null   object
 7   address                            1083397 non-null  object
 8   latitude                           1067607 non-null  float64
 9   longitude                          1067607 non-null  float64
 10  claimed                            1081555 non-null  object
 11  awards                             263133 non-null   object
 12  popularity_detailed                988409 non-null   object
 13  popularity_generic                 985605 non-null   object
 14  top_tags                           972763 non-null   object
 15  price_level                        806192 non-null   object
 16  price_range                        304327 non-null   object
 17  meals                              635347 non-null   object
 18  cuisines                           914294 non-null   object
 19  special_diets                      340256 non-null   object
 20  features                           317407 non-null   object
 21  vegetarian_friendly                1083397 non-null  object
 22  vegan_options                      1083397 non-null  object
 23  gluten_free                        1083397 non-null  object
 24  original_open_hours                593832 non-null   object
 25  open_days_per_week                 593832 non-null   float64
 26  open_hours_per_week                593832 non-null   float64
 27  working_shifts_per_week            593832 non-null   float64
 28  avg_rating                         986761 non-null   float64
 29  total_reviews_count                1031162 non-null  float64
 30  default_language                   988204 non-null   object
 31  reviews_count_in_default_language  988204 non-null   float64
 32  excellent                          988204 non-null   float64
 33  very_good                          988204 non-null   float64
 34  average                            988204 non-null   float64
 35  poor                               988204 non-null   float64
 36  terrible                           988204 non-null   float64
 37  food                               599325 non-null   float64
 38  service                            604287 non-null   float64
 39  value                              602692 non-null   float64
 40  atmosphere                         261785 non-null   float64
 41  keywords                           99198 non-null    object
dtypes: float64(17), object(25)
memory usage: 347.2+ MB

# Data Preparing

In [7]:
# Drop price_range column, we will replace this column by mid or cheap categories from top_tags column
european_restaurants.drop(['price_range'], axis=1, inplace= True)

In [8]:
# here we will split the values in top_tags column to separate columns and save them in top_tags variable
top_tags = european_restaurants['top_tags'].str.split(',', expand=True)

In [9]:
#creat a price_range column take the first element of top_tags
european_restaurants['price_range'] = top_tags[0]

In [10]:
# selecting rows based on mid or cheap range
european_restaurants_sub = european_restaurants[european_restaurants['price_range'].isin(['Mid-range', 'Cheap Eats'])]

In [11]:
#map Mid-range, Cheap Eats values in price_range column by mid and cheap
european_restaurants_sub['price_range'] = european_restaurants_sub['price_range'].map({'Mid-range': 'mid', 'Cheap Eats': 'cheap'})

<ipython-input-11-0eb1fe13e08b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  european_restaurants_sub['price_range'] = european_restaurants_sub['price_range'].map({'Mid-range': 'mid', 'Cheap Eats': 'cheap'})

We will work on this sub data

In [12]:
# check sub data shape
european_restaurants_sub.shape

(778558, 42)

In [13]:
# check null values
european_restaurants_sub.isnull().sum()

restaurant_link                           0
restaurant_name                           0
original_location                         0
country                                   0
region                                34132
province                             236188
city                                 286925
address                                   0
latitude                               4973
longitude                              4973
claimed                                1337
awards                               531187
popularity_detailed                   26795
popularity_generic                    28762
top_tags                                  0
price_level                             451
meals                                253077
cuisines                              53600
special_diets                        454768
features                             506619
vegetarian_friendly                       0
vegan_options                             0
gluten_free                               0
original_open_hours                  290110
open_days_per_week                   290110
open_hours_per_week                  290110
working_shifts_per_week              290110
avg_rating                            27760
total_reviews_count                   14628
default_language                      26590
reviews_count_in_default_language     26590
excellent                             26590
very_good                             26590
average                               26590
poor                                  26590
terrible                              26590
food                                 208433
service                              204330
value                                205672
atmosphere                           533779
keywords                             684538
price_range                               0
dtype: int64

# Data cleaning

### - Drop columns with a large number of null values

In [14]:
#These columns contain a large number of null values and are unnecessary columns

european_restaurants_sub.drop(['price_level', 'special_diets', 'restaurant_link', 'original_location', 'original_open_hours',
                           'keywords', 'features', 'awards', 'meals', 'province', 'address', 'top_tags'], axis=1, inplace= True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

### - Handling null values in other columns

In [15]:
#sorte data by country

european_restaurants_sub = european_restaurants_sub.sort_values(by=['country'])

In [16]:
#fill null city value using the previous row value

european_restaurants_sub['city'] = european_restaurants_sub['city'].ffill()

In [17]:
#fill null region value 

european_restaurants_sub['region'] = european_restaurants_sub['region'].ffill()

In [18]:
#sorte data by city & region

european_restaurants_sub = european_restaurants_sub.sort_values(by=['city','region'])

In [19]:
#fill depend on region and city

european_restaurants_sub['latitude'] = european_restaurants_sub['latitude'].ffill()
european_restaurants_sub['longitude'] = european_restaurants_sub['longitude'].ffill()

In [21]:
#fill null values in numeric columns using mean

# 1- Rating columns
european_restaurants_sub['average'].fillna(round(european_restaurants_sub['average'].mean(),1), inplace=True)
european_restaurants_sub['very_good'].fillna(round(european_restaurants_sub['very_good'].mean(),1), inplace=True)
european_restaurants_sub['excellent'].fillna(round(european_restaurants_sub['excellent'].mean(),1), inplace=True)
european_restaurants_sub['value'].fillna(round(european_restaurants_sub['value'].mean(),1), inplace=True)
european_restaurants_sub['atmosphere'].fillna(round(european_restaurants_sub['atmosphere'].mean(),1), inplace=True)
european_restaurants_sub['service'].fillna(round(european_restaurants_sub['service'].mean(),1), inplace=True)
european_restaurants_sub['food'].fillna(round(european_restaurants_sub['food'].mean(),1), inplace=True)
european_restaurants_sub['terrible'].fillna(round(european_restaurants_sub['terrible'].mean(),1), inplace=True)
european_restaurants_sub['poor'].fillna(round(european_restaurants_sub['poor'].mean(),1), inplace=True)

# 2- count columns
european_restaurants_sub['total_reviews_count'].fillna(round(european_restaurants_sub['total_reviews_count'].mean(),1), inplace=True)
european_restaurants_sub['reviews_count_in_default_language'].fillna(round(european_restaurants_sub['reviews_count_in_default_language'].mean(),1), inplace=True)

# 3- opening informations
european_restaurants_sub['open_days_per_week'].fillna(european_restaurants_sub['reviews_count_in_default_language'].median(), inplace=True)
european_restaurants_sub['open_hours_per_week'].fillna(european_restaurants_sub['reviews_count_in_default_language'].median(), inplace=True)
european_restaurants_sub['working_shifts_per_week'].fillna(european_restaurants_sub['reviews_count_in_default_language'].median(), inplace=True)

In [29]:
# 1- change data type of count columns to integer
european_restaurants_sub['total_reviews_count'] = european_restaurants_sub['total_reviews_count'].astype('int')
european_restaurants_sub['reviews_count_in_default_language'] = european_restaurants_sub['reviews_count_in_default_language'].astype('int')

# 2- change open_days_per_week and working_shifts_per_week data types to integer
european_restaurants_sub['open_days_per_week'] = european_restaurants_sub['open_days_per_week'].astype('int')
european_restaurants_sub['working_shifts_per_week'] = european_restaurants_sub['working_shifts_per_week'].astype('int')

In [23]:
# we will drop null values in avg_rating and claimed columns becase we want it our target

european_restaurants_sub = european_restaurants_sub.dropna(axis=0, subset=['avg_rating'])
european_restaurants_sub = european_restaurants_sub.dropna(axis=0, subset=['claimed'])

In [24]:
#Replace the remaining null with an unknown

european_restaurants_sub = european_restaurants_sub.fillna('unknown')

### - Map each Y to 1 and N to 0

In [25]:
#map Y, N values in gluten_free column by 0 and 1
european_restaurants_sub['gluten_free'] = european_restaurants_sub['gluten_free'].map({'Y': 1, 'N': 0})

#map Y, N values in gluten_free column by 0 and 1
european_restaurants_sub['vegan_options'] = european_restaurants_sub['vegan_options'].map({'Y': 1, 'N': 0})

#map Y, N values in gluten_free column by 0 and 1
european_restaurants_sub['vegetarian_friendly'] = european_restaurants_sub['vegetarian_friendly'].map({'Y': 1, 'N': 0})

### - clean text in popularity_detailed and restaurant_name

In [26]:
#clean text in restaurant_name column
european_restaurants_sub.restaurant_name.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

#clean text in popularity_detailed column
european_restaurants_sub.popularity_detailed.replace({r'["#[A-Za-z0-9_"]+ ':''}, regex=True, inplace=True)

In [27]:
european_restaurants_sub.isnull().sum()

restaurant_name                      0
country                              0
region                               0
city                                 0
latitude                             0
longitude                            0
claimed                              0
popularity_detailed                  0
popularity_generic                   0
cuisines                             0
vegetarian_friendly                  0
vegan_options                        0
gluten_free                          0
open_days_per_week                   0
open_hours_per_week                  0
working_shifts_per_week              0
avg_rating                           0
total_reviews_count                  0
default_language                     0
reviews_count_in_default_language    0
excellent                            0
very_good                            0
average                              0
poor                                 0
terrible                             0
food                                 0
service                              0
value                                0
atmosphere                           0
price_range                          0
dtype: int64

In [30]:
european_restaurants_sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 749544 entries, 184348 to 113206
Data columns (total 30 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   restaurant_name                    749544 non-null  object
 1   country                            749544 non-null  object
 2   region                             749544 non-null  object
 3   city                               749544 non-null  object
 4   latitude                           749544 non-null  float64
 5   longitude                          749544 non-null  float64
 6   claimed                            749544 non-null  object
 7   popularity_detailed                749544 non-null  object
 8   popularity_generic                 749544 non-null  object
 9   cuisines                           749544 non-null  object
 10  vegetarian_friendly                749544 non-null  int64
 11  vegan_options                      749544 non-null  int64
 12  gluten_free                        749544 non-null  int64
 13  open_days_per_week                 749544 non-null  int64
 14  open_hours_per_week                749544 non-null  float64
 15  working_shifts_per_week            749544 non-null  int64
 16  avg_rating                         749544 non-null  float64
 17  total_reviews_count                749544 non-null  int64
 18  default_language                   749544 non-null  object
 19  reviews_count_in_default_language  749544 non-null  int64
 20  excellent                          749544 non-null  float64
 21  very_good                          749544 non-null  float64
 22  average                            749544 non-null  float64
 23  poor                               749544 non-null  float64
 24  terrible                           749544 non-null  float64
 25  food                               749544 non-null  float64
 26  service                            749544 non-null  float64
 27  value                              749544 non-null  float64
 28  atmosphere                         749544 non-null  float64
 29  price_range                        749544 non-null  object
dtypes: float64(13), int64(7), object(10)
memory usage: 177.3+ MB

In [31]:
european_restaurants_sub.shape

(749544, 30)

## save the cleaning to new csv file

In [32]:
 european_restaurants_sub.to_csv('cleaning_data.csv', index=False)